.thumb-container a {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.thumb-container > .thumb img {
    border: 1px solid #030027;
    height: 100%;
    image-rendering: crisp-edges;
    position: absolute;
    width: 100%;
}

img.tiny {
    height: 32px;
    width: auto;
}

#experience .work-item h3 {
    font-weight: bolder;
}

#projects .work-item {
    width: 30%;
}

#community article {
    width: 80%;
}

p {
    color: rgb(138, 138, 138) !important;
}